header("Content-Type: text/event-stream\n\n");

<div class="tab_container" id="accordion">
	<h3>Numericas</h3>
	<div id="tab1" class="tab_content">
		<table class="tablesorter" cellspacing="0">  
		<thead> 
			<tr> 
				<th>Empresa</th> 
				<th>Código</th> 
				<th>Valor Actual</th> 
				<th>Valor Maximo</th>
				<th>Valor Minimo</th>
			</tr> 
		</thead> 
		<tbody> 
		{% for nombre in nombres %}
			<tr> 
				<td>{{ cotizaciones[nombre][0] }}</td> 
				<td>{{ cotizaciones[nombre][1] }}</td> 
				<td>{{ cotizaciones[nombre][2] }}</td> 
				<td>{{ cotizaciones[nombre][3] }}</td>
				<td>{{ cotizaciones[nombre][4] }}</td>
			</tr> 
		{% endfor %}
		
		</tbody>
		</table>
	</div><!-- end  -->					
	<h3>Graficas</h3>
	<div id="tab2" class="tab_content">
		<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
					<th>Gráfica</th>
				</tr>
			</thead> 
			<tbody> 
				<tr> 
					<script type="text/javascript">
					  google.charts.load('current', {'packages':['corechart']});
					  google.charts.setOnLoadCallback(drawChart);

					  function drawChart() {
						var data = google.visualization.arrayToDataTable([
						[ "Posicion",
						{% set num_result = result|length %}
						{% set pos_result = 0 %}
						{% for Dict in result %}
							"{{ Dict['Nombre'] }}"{% if (pos_result < num_result - 1) %} , {% endif %}
							{% set pos_result = pos_result + 1 %}
						  {% endfor %}
						],
						{% set num_empresa = coti|length %}
						{% for pos in range(0,70) %}
							[ {{pos}} ,
							{% set pos_coma = 0 %}
							{% for pos_nom in range(0,num_empresa) %}
								parseFloat({{ coti[nombres[pos_nom]][pos]["Valor"] }}) {% if (pos_coma < num_empresa - 1) %} , {% endif %}
								{% set pos_coma = pos_coma + 1 %}
							{% endfor %}
							] {% if (pos < 69) %} , {% endif %}
						{% endfor %}
						]);

						var options = {
						  title: 'Cotizaciones',
						  curveType: 'function',
						  legend: { position: 'bottom' }
						};

						var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

						chart.draw(data, options);
					  }
					</script>
					<th><div id="curve_chart" style="width: 400px; height: 200px"></div></th>
				</tr> 
			</tbody> 
		</table>
	</div><!-- end of #tab2 -->			
</div><!-- end of .tab_container -->