<article class="module width_full">
	<header><h3>Empresas Seguidas Por Usted</h3></header>
		<div class="module_content">
			<div id="tab2" class="tab_content">
				<table class="tablesorter" cellspacing="0"> 
				<thead> 
					<tr> 
						<th>Empresa</th> 
						<th>Código</th>
						<th>Acción</th>
					</tr> 
				</thead> 
				<tbody> 
				{% for value in result['Empresas_cliente'] %}
					<tr> 
						<td>{{ value['Nombre'] }}</td> 
						<td>{{ value['Id_empresa'] }}</td>
						<td><i class="fa fa-minus-square-o fa-3" aria-hidden="true" onclick="Seguir_quitar_valor(2, '{{value['Id_empresa'] }}')"></li></td>
					</tr> 
				{% endfor %}
				</tbody>
				</table>
		</div>
</article><!-- end of styles article -->
<article class="module width_full" id="Representación">
	<header><h3 class="tabs_involved">Empresas</h3></header>
	<div class="tab_container">
		<div id="tab1" class="tab_content">
		<table class="tablesorter" cellspacing="0"> 
		<thead> 
			<tr> 
				<th>Empresa</th> 
				<th>Código</th>
				<th>Accion</th>
			</tr> 
		</thead> 
		<tbody> 
		{% set count = 1 %}
		{% for value in result['Empresas'] %}
			<form id ="{% print 'registro_form_'+count|string %}" action="registro" method="post">	
				<tr> 
					<td>{{ value['Nombre'] }}</td> 
					<td>{{ value['Codigo'] }}</td>
					<td><i class="fa fa-plus-square-o fa-3" aria-hidden="true" onclick="Seguir_quitar_valor(1, '{{value['Codigo'] }}')"></li> </td>				
				</tr>
			</form>
			{% set count = count + 1 %}
		{% endfor %}
		</tbody>
		</table>
		</div><!-- end  -->					
	</div><!-- end of .tab_container -->
</article><!-- end of content manager article -->

