<article class="module width_full" id="Representación">
	<header><h3 class="tabs_involved">Estadisticas Internas</h3></header>
	<div class="tab_container">
		<div id="tab1" class="tab_content">
		<table class="tablesorter" cellspacing="0"> 
		<thead> 
			<tr> 
				<th>Empresa</th> 
				<th>Código</th> 
				<th>Media</th> 
				<th>Mediana</th> 
				<th>Desviacion</th> 
			</tr> 
		</thead> 
		<tbody> 
		{% for Dict in result %}
			<tr> 
				<td>{{ Dict[0] }}</td> 
				<td>{{ Dict[1] }}</td> 
				<td>{{ Dict[2] }}</td> 
				<td>{{ Dict[3] }}</td> 
				<td>{{ Dict[4] }}</td> 
			</tr> 
		{% endfor %}
		
		</tbody>
		</table>
		</div><!-- end  -->					
	</div><!-- end of .tab_container -->
</article><!-- end of content manager article -->
<article class="module width_full" id="Representación">
	<header><h3 class="tabs_involved">Estadisticas Externas</h3></header>
	<div class="tab_container">
		<div id="tab1" class="tab_content">
		<table class="tablesorter" cellspacing="0"> 
		<thead> 
			<tr> 
				<th>Empresa</th> 
				<th>Código</th> 
				<th>Media</th> 
				<th>Mediana</th> 
				<th>Desviacion</th> 
			</tr> 
		</thead> 
		<tbody> 
		{% for Dict in Externa %}
			<tr> 
				<td>{{ Dict[0] }}</td> 
				<td>{{ Dict[1] }}</td> 
				<td>{{ Dict[2] }}</td> 
				<td>{{ Dict[3] }}</td> 
				<td>{{ Dict[4] }}</td> 
			</tr> 
		{% endfor %}
		
		</tbody>
		</table>
		</div><!-- end  -->					
	</div><!-- end of .tab_container -->
</article><!-- end of content manager article -->