<article class="module width_full">
	<header><h3>Datos</h3></header>
		<div class="module_content">
			<div id="tab2" class="tab_content">
				<table class="tablesorter" cellspacing="0"> 
				<thead> 
					<tr> 
						<th>Usuario</th> 
						<th>Password</th>
						<th>Umbral</th>
						<th>Actualizar</th>
					</tr> 
				</thead> 
				<tbody> 
					<tr> 
						<form id ="form_user" method="post">
							<td>{{ result['User'] }}</td> 
							<td><input type="password" name="txt_pass" id="txt_pass" value = {{ result['Pass'] }}/></td>
							<td><input type="number" name="txt_umbral" id="txt_umbral" value = {{ result['Umbral'] }}/></li></td>
							<td><i class="fa fa-user-plus" aria-hidden="true" onclick="Actualizar_user('{{ result['User'] }}')"></i></td>
						</form>
					</tr> 
				</tbody>
				</table>
		</div>
</article><!-- end of styles article -->